@tailwind base;
@tailwind components;
@tailwind utilities;

.remove-arrow[type="number"]::-webkit-outer-spin-button,
.remove-arrow[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.remove-arrow[type="number"]::-moz-outer-spin-button,
.remove-arrow[type="number"]::-moz-inner-spin-button {
    -moz-appearance: none;
    margin: 0;
}

.remove-arrow[type="number"] {
    appearance: textfield;
}

.rdp-dropdown_year > div,
.rdp-dropdown_year > span,
.rdp-dropdown_month > div,
.rdp-dropdown_month > span,
.rdp-vhidden > div {
    display: none;
}

.rdp-caption_dropdowns {
    display: flex;
    font-size: 15px;
}
